Analysis/fishParty.RData
Analysis/fishParty(reduced).RData
Analysis/.Rhistory
Analysis/pest.Rdata
Analysis/pest(reduced).RData
Analysis/pest(reduced)_pal.RData
Analysis/pest(reduced)_abc.RData
Analysis/pest(reduced)_pal_abc.RData
