RdataFiles/Analysis/fishParty.RData
RdataFiles/Analysis/fishParty(reduced).RData
RdataFiles/Analysis/.Rhistory
RdataFiles/Analysis/pest.Rdata
RdataFiles/Analysis/pest(reduced).RData
RdataFiles/Analysis/pest(reduced)_pal.RData
RdataFiles/Analysis/pest(reduced)_abc.RData
RdataFiles/Analysis/pest(reduced)_pal_abc.RData
RdataFiles
